<!doctype html>
<html>
<head>
    <title>NORRIS IoC</title>
    <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css">
    <link rel="stylesheet" href="http://yandex.st/highlightjs/6.0/styles/sunburst.min.css">
    <link rel="stylesheet" href="/ioc.css">
</head>
<body>
    <div class="topbar">
        <div class="fill">
            <div class="container">
                <h3><a href="#intro">NORRIS-IOC</a></h3>
                <ul>
                    <li><a href="#ioc-overview">Overview</a></li>
                    <li><a href="#installation">Installation</a></li>
                    <li><a href="#basic-usage">Basic Usage</a></li>
                    <li><a href="#signatures">Signtures</a></li>
                    <li><a href="#references">References</a></li>
                    <li><a href="#github">Github</a></li>
                    <li><a href="#license">License</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="content-container">
        <a href="http://github.com/soggie/norris-ioc"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 999999" src="https://a248.e.akamai.net/assets.github.com/img/30f550e0d38ceb6ef5b81500c64d970b7fb0f028/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub"></a>
        <div class="container">
            <!-- Introduction section -->
            <h1>NORRIS Inversion of Control Container</h1>
            <blockquote class="intro">
                Chuck Norris does not depend on anybody, but everybody depends on Chuck Norris
            </blockquote>
            <p><strong>NOTE</strong> This document is accurate as of norris-ioc v0.0.1</strong></p>
            
            <!-- Overview section -->
            <h2 id="ioc-overview">Overview</h2>
            <hr>
            <p>NORRIS IoC is an inversion-of-control container whose aim is to make it easy to define dependencies in your Node.JS application's modules. It is originally written for the NORRIS project, but it can be used as a general purpose container for any projects as long as they conform to certain design constraints.</p>
            <p>What is Inversion-of-control? In your application, each individual module has a list of dependencies. They can look like this:</p>
            <pre><code>var fs   = require('fs');
var path = require('path');

module.exports.run = function run() {
    // Code here ...
}</code></pre>
            <p>In the above example, "fs" and "path" are dependencies towards two Node.JS core modules, which in turn is dependant on your computer's file system. If you have written your module in this manner, it will make unit testing difficult because then it'll be hard to control the unit testing environment.</p>
            <p>To allow your unit test suite to "inject" a virtual file system as a fixture into your module would be difficult, if not impossible. The most sensible way of doing so would be to add a inject() function to your code to replace your current dependencies.</p>
            <pre><code>var fs   = require('fs');
var path = require('path');

module.exports.run = function run() {
    // Code here ...
}

module.exports.inject = function inject(deps) {
    fs   = (undefined !== deps.fs)   ? deps.fs   : fs;
    path = (undefined !== deps.path) ? deps.path : path;
}</code></pre>
            <p>The problem with this approach is that there're too much code to write for something so simple, not to mention that maintannance of your service locator/factory would soon snowball out of hand if you're not careful.</p>
            <p>NORRIS IoC aims to solve this by providing a novel way of defining your dependencies.</p>

            <!-- Installation section -->
            <h2 id="installation">Installation</h2>
            <hr>
            <p>Installation is simple. If you have <a href="http://npmjs.org">NPM</a>, just type this in your working directory:</p>
            <pre><code>$ npm install norris-ioc</code></pre>
            <p>Once installation is complete, you can use NORRIS IoC anywhere in your project simply by requiring it:</p>
            <pre><code>var ioc = require('norris-ioc').make(); // Don't forget the make() call!</code></pre>

            <!-- Basic Usage -->
            <h2 id="basic-usage">Basic Usage</h2>
            <hr>
            <p>NORRIS IoC is written to work asynchonously. There is no way to use it synchronously (will be added in the next version).</p>
            <p>To use NORRIS IoC in your project, first you include the module, then you define a dependency definition, and the finally call the load() function:</p>
            <pre><code>var ioc = require('norris-ioc').make();
var deps = module.exports.deps = {
    fs  : '[node] fs',
    npm : '[npm] npm'
}

ioc.load(deps, function onLoad(err, loaded) {
    console.log(loaded.fs);     // result should be the same as require('fs');
    console.log(loaded.npm);    // result should be the same as require('npm');
});</code></pre>

            <!-- Signatures -->
            <h2 id="signatures">Signatures</h2>
            <hr>
            <p>"Signatures" are specialized functions in NORRIS IoC that is responsible for loading modules of a certain type. Currently, it only supports two signatures: "node" and "npm".</p>
            <p>In the dependency definition object, the signature definition uses this syntax:</p>
            <pre><code>var deps = { object_key : "[type] module_name" }</code></pre>
            <p>Thus, if you want to load a node core module, simply type:
            <pre><code>var deps = { events : "[node] events" }</code></pre>
            <p>Which would be equivalent to:</p>
            <pre><code>var events = require('events');</code></pre>

            <h3>NPM Signatures</h3>
            <p>NORRIS IoC comes supporting npm module signatures as well. Unlike node core modules however, NORRIS IoC will automatically install the npm module for you if it doesn't exists, eliminating the need to manually define a package.json file and then remembering to run "npm install" everytime you clone your project form your repository.</p>
            <pre><code>var deps = { module_key : "[npm] module_name" }</code></pre>
            <p>Which is equivalent to:</p>
            <pre><code>$ npm install module_name</code></pre>
            <pre><code>var module_key = require('module_name');</code></pre>
            <p>Two birds with one stone. :)</p>

            <h3>Adding/Overriding Signatures</h3>
            <p>The true purpose of signatures however, is to allow you to replace dependant modules with your own, which is a very common case in unit testing where you would want to replace concrete modules with mocks.</p>
            <p>Doing this with NORRIS-IoC is extremely simple. Just call attach() before load():</p>
            <pre><code>var ioc = require('ioc').make();
ioc.attach('norris', function loadNorris(key, module, callback) {
    try {
        var norrisMod = requrie('./norris/' + module);
        callback(null, key, norrisMod);
    } catch (err) {
        callback(err);
    }
});</code></pre>
            <p>This will allow you to use the "norris" signature by doing this:</p>
            <pre><code>var deps = { roundhouse : "[norris] kick" }</code></pre>
            <p>Which would be equivalent to:</p>
            <pre><code>var roundhouse = require('./norris/kick');</code></pre>

            <!-- References -->
            <h2 id="references">References</h2>
            <hr>
            <p>Installation:</p>
            <pre><code>$ npm install norris-ioc</code></pre>
            <p>Importing the ioc container:</p>
            <pre><code>var ioc = require('ioc').make();</code></pre>
            <p>Loading a node module using the callback style:</p>
            <pre><code>var ioc = require('ioc').make();
var deps = {
    file_system : "[node] fs"
}

ioc.load(deps, function onLoad(err, loaded) {
    console.log(loaded.file_system);
});</pre></code>
            <p>Loading a node module using the promise style:</p>
            <pre><code>ioc = require('ioc').make();
var deps = {
    file_system : "[node] fs"
}

var promise = ioc.load(deps);

promise.on('success', function onSuccess(loaded){ 
    console.log(loaded.file_system);
});</pre></code>
            <p>Adding/Replacing a signature:</p>
            <pre><code>var ioc = require('ioc').make();
var deps = {
    file_system : "[node] fs"
}

function mockNode(key, module, callback) {
    var success = true;
    if (success) {
        var mock_fs = {
            readdir : function() { console.log('mock readdir called'); }
        };
        callback(null, key, mock_fs);
    } else {
        callback(new Error('Loading failed!'));
    }
});

ioc.attach('node', mockNode)
   .load(deps, function onLoad(err, loaded) {
       console.log(loaded.file_system); // Should only have "readdir" function defined
   });</code></pre>

            <!-- Github -->
            <h2 id="github">Github</h2>
            <hr>
            <p>You can fork my repo on github if you want to contribute to this project:</p>
            <p><a href="https://github.com/soggie/norris-ioc">NORRIS-IoC</a></p>
            <p>Alternatively, look up and right. Click on that orange ribbon.</p>

            <!-- License -->
            <h2 id="license">License</h2>
            <hr>
            <p>NORRIS IoC is licensed under the <a href="http://en.wikipedia.org/wiki/MIT_License">MIT license</a>, which basically means you can use NORRIS IoC in any projects (both non-profit and commercial) or modify it as you see fit as long as you retain the copyright header in the source files. And no, you do not need to credit me for anything, just as long as you don't claim it as being your own.</p>
            <pre class="license">Copyright (C) 2011 by Ruben L Z Tan

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</pre>
        </div>
    </div>

    <div class="footer">Copyright &copy; 2011 Ruben LZ Tan aka "roguejs"</div>
        
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/highlight.js"></script>
    <script src="/ioc.js"></script>
</body>
</html>